extends general.pug
block content
  .row.body
    .col-3.col-s-3.menu
      ul
        li.drop-down(style='width: 100%;')
          a(href='/product/category?q=all&type=shoes') Shoes
          ul
            li
              a(href='/product/category?q=newest&type=shoes') Newest
            li
              a(href='/product/category?q=football&type=shoes') Football
            li
              a(href='/product/category?q=running&type=shoes') Running
            li
              a(href='/product/category?q=basketball&type=shoes') Basketball
            li
              a(href='/product/category?q=gym&type=shoes') Gym &amp; Training
        li.drop-down
          a(href='/product/category?q=all&type=clothing') Clothes
          ul
            li
              a(href='/product/category?q=top&type=clothing') Top &amp; T-Shirts
            li
              a(href='/product/category?q=hoodie&type=clothing') Hoodies
            li
              a(href='/product/category?q=short&type=clothing') Shorts
            li
              a(href='/product/category?q=cap&type=clothing') Caps
            li
              a(href='/product/category?q=sock&type=clothing') Socks
            li
              a(href='/product/category?q=bag&type=clothing') Bags
        li.drop-down
          a(href='/product/category?q=all&type=sport') Sports
          ul
            li
              a(href='/product/category?q=football&type=sport') Football
            li
              a(href='/product/category?q=basketball&type=sport') Basketball
            li
              a(href='/product/category?q=running&type=sport') Running
            li
              a(href='/product/category?q=tennis&type=sport') Tennis
            li
              a(href='/product/category?q=golf&type=sport') Golf
            li
              a(href='/product/category?q=yoga&type=sport') Yoga
        li.drop-down
          a(href='/product/category?q=all&type=brand') Brands
          ul
            li
              a(href='/product/category?q=nike&type=brand') Nike
            li
              a(href='/product/category?q=adidas&type=brand') Adidas
            li
              a(href='/product/category?q=vietnam&type=brand') Vietnam
    .col-9.col-s-12
      .list
        h1 New Arrivals
        a.item(href='#')
          .image
          img(src='image/product_1.jpg', alt='Product', style='width: 100%;')
          .info
            h4 Nike Air Force 1 &apos;07
            p.type Women&apos;s Shoes
            span.price
              | 3.123.123 &dstrok;
        a.item(href='#')
          .image
          img(src='image/product_1.jpg', alt='Product', style='width: 100%;')
          .info
            h4 Nike Air Force 1 &apos;07
            p.type Women&apos;s Shoes
            span.price
              | 3.123.123 &dstrok;
        a.item(href='#')
          .image
          img(src='image/product_1.jpg', alt='Product', style='width: 100%;')
          .info
            h4 Nike Air Force 1 &apos;07
            p.type Women&apos;s Shoes
            span.price
              | 3.123.123 &dstrok;
      .list
        h1 Trending
        a.item(href='#')
          .image
          img(src='image/product_1.jpg', alt='Product', style='width: 100%;')
          .info
            h4 Nike Air Force 1 &apos;07
            p.type Women&apos;s Shoes
            span.price
              | 3.123.123 &dstrok;
        a.item(href='#')
          .image
          img(src='image/product_1.jpg', alt='Product', style='width: 100%;')
          .info
            h4 Nike Air Force 1 &apos;07
            p.type Women&apos;s Shoes
            span.price
              | 3.123.123 &dstrok;
        a.item(href='#')
          .image
          img(src='image/product_1.jpg', alt='Product', style='width: 100%;')
          .info
            h4 Nike Air Force 1 &apos;07
            p.type Women&apos;s Shoes
            span.price
              | 3.123.123 &dstrok;
        a.item(href='#')
          .image
          img(src='image/product_1.jpg', alt='Product', style='width: 100%;')
          .info
            h4 Nike Air Force 1 &apos;07
            p.type Women&apos;s Shoes
            span.price
              | 3.123.123 &dstrok;
