<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/lib.css">
    <title>Phoenix</title>
</head>

<body>
    <div class="header">
        <a href="/">
            <img src="../public/image/Logo.png" style="height: 100%;" alt="brand">
            <h1>Phoenix</h1>
        </a>
        <form action="" class="col-6 search-box">
            <input type="text" placeholder="Find something...">
            <button><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
    <div class="row body">
        <div class="col-3 col-s-3 menu">
            <ul>
                <li class="drop-down" style="width: 100%;"><a href="#">Shoes</a>
                    <ul>
                        <li><a href="#">Newest</a></li>
                        <li><a href="#">All</a></li>
                        <li><a href="#">Football</a></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Basketball</a></li>
                        <li><a href="#">Gym & Training</a></li>
                    </ul>
                </li>
                <li class="drop-down"><a href="#">Clothes</a>
                    <ul>
                        <li><a href="#">All Clothing</a></li>
                        <li><a href="#">Top & T-Shirts</a></li>
                        <li><a href="#">Hoodies & Sweatshirts</a></li>
                        <li><a href="#">Shorts</a></li>
                        <li><a href="#">Caps</a></li>
                        <li><a href="#">Socks</a></li>
                        <li><a href="#">Bags</a></li>
                    </ul>
                </li>
                <li class="drop-down"><a href="#">Sports</a>
                    <ul>
                        <li><a href="#">Football</a></li>
                        <li><a href="#">Basketball</a></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Tennis</a></li>
                        <li><a href="#">Golf</a></li>
                        <li><a href="#">Yoga</a></li>
                    </ul>
                </li>
                <li class="drop-down"><a href="#">Brands</a>
                    <ul>
                        <li><a href="#">Nike</a></li>
                        <li><a href="#">Adidas</a></li>
                        <li><a href="#">Vietnam</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-9 col-s-12">
            <div class="list">
                <h1>New Arrivals</h1>
                <a href="#" class="item">
                    <div class="image"></div>
                    <img src="../public/image/product_1.jpg" alt="Product" style="width: 100%;">
                    <div class="info">
                        <h4>Nike Air Force 1 '07</h4>
                        <p class="type">Women's Shoes</p>
                        <span class="price">
                            3.123.123 đ
                        </span>
                    </div>

                </a>
                <a href="#" class="item">
                    <div class="image"></div>
                    <img src="../public/image/product_1.jpg" alt="Product" style="width: 100%;">
                    <div class="info">
                        <h4>Nike Air Force 1 '07</h4>
                        <p class="type">Women's Shoes</p>
                        <span class="price">
                            3.123.123 đ
                        </span>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="image"></div>
                    <img src="../public/image/product_1.jpg" alt="Product" style="width: 100%;">
                    <div class="info">
                        <h4>Nike Air Force 1 '07</h4>
                        <p class="type">Women's Shoes</p>
                        <span class="price">
                            3.123.123 đ
                        </span>
                    </div>
                </a>
            </div>
            <div class="list">
                <h1>Trending</h1>
                <a href="#" class="item">
                    <div class="image"></div>
                    <img src="../public/image/product_1.jpg" alt="Product" style="width: 100%;">
                    <div class="info">
                        <h4>Nike Air Force 1 '07</h4>
                        <p class="type">Women's Shoes</p>
                        <span class="price">
                            3.123.123 đ
                        </span>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="image"></div>
                    <img src="../public/image/product_1.jpg" alt="Product" style="width: 100%;">
                    <div class="info">
                        <h4>Nike Air Force 1 '07</h4>
                        <p class="type">Women's Shoes</p>
                        <span class="price">
                            3.123.123 đ
                        </span>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="image"></div>
                    <img src="../public/image/product_1.jpg" alt="Product" style="width: 100%;">
                    <div class="info">
                        <h4>Nike Air Force 1 '07</h4>
                        <p class="type">Women's Shoes</p>
                        <span class="price">
                            3.123.123 đ
                        </span>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="image"></div>
                    <img src="../public/image/product_1.jpg" alt="Product" style="width: 100%;">
                    <div class="info">
                        <h4>Nike Air Force 1 '07</h4>
                        <p class="type">Women's Shoes</p>
                        <span class="price">
                            3.123.123 đ
                        </span>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="col-3 general">
            <a href="#">FIND A STORE</a>
        </div>
        <div class="col-3 general">
            <a href="#">GET HELP</a>
            <a href="#">Order Status</a>
            <a href="#">Delivery</a>
            <a href="#">Returns</a>
            <a href="#">Payment Options</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col-3 general">
            <a href="#">ABOUT US</a>
            <a href="#">News</a>
            <a href="#">Careers</a>
            <a href="#">Investors</a>
        </div>
        <div class="col-3 social">
            <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</body>

</html>