<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <input type="text" name="" id="type">
    <button id="click">Click</button>
</body>
<script>
    var x = document.getElementById('click')
    x.addEventListener('click',function(){
        console.log(1);
    })
    var i = document.getElementById('type')
    i.addEventListener('input',function(){
        console.log(i.value);
    })
</script>
</html>