* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", sans-serif;
}
@font-face {
    font-family: fontheader;
    src: url("../font/UTM BanqueB.ttf");
}
.header {
    display: flex;
    color: #ffffff;
    background-color: #f3ecf7;
    padding: 8px;
    height: 100px;
    padding-left: 10%;
}
.header a{
    display: flex;
    height: 100%;
    max-width: 320px;
    color: rgb(30, 31, 30);
    font-size: 25px;
    font-family: fontheader, sans-serif;
}
.header h1{
    margin-top: 2px;
    font-weight: bold;
    color: #940a0a;
}
.footer {
    display: flex;
    background-color: #000102;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
.footer a{
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    color: rgb(164, 165, 164);
}
.footer a:hover{
    color: honeydew;
}
.footer .general a:first-child{
    font-size: 20px;
    font-weight: bolder;
    color: honeydew;
}
.social{
    display: flex;
}
.social a{
    flex-grow: 1;
    font-size: 30px;
    color: honeydew;
}
.search-box{
    display: block;
    text-align: right;
}
.search-box input{
    font-size: 16px;
    max-width: 70%;
    padding: 4px 8px 4px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    border: 1px solid rgb(112, 20, 20);
}
.search-box button{
    font-size: 20px;
    outline: none;
    background-color: rgb(153, 87, 44);
    color: white;
    border: none; 
    padding-top: 2px;
    padding-bottom: 5px;
    transition: background-color 0.1s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.search-box button:hover{
    background-color: rgb(170, 110, 76);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.body{
    display: table;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.customer{
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    
}
.customer a{
    display: block;
    font-size: 80%;
    margin-top: 20px;
    word-break:break-all;
    max-height: 100%;
}
