.login{
    display: flex;
    justify-content: center;
    min-height: 450px;
    align-items: center;
}
.login input{
    margin: 5px 0;
    width: 200px;
    height: 25px;
}
small{
    font-size: 10px;
    color: rgb(151, 146, 146);
}
.login button{
    font-size: 16px;
    padding: 6px 14px;
    background-color: rgb(29, 81, 238);
    border: none;
    color: rgb(247, 241, 238);
    margin-top: 10px;
}
.login button:hover{
    background-color: slateblue;
}
.login a{
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
}